/*-- body --*/

body{
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
    width: 100vw;
}
/*-- cabeçalho --*/

.cabecalho{
    display: flex;
    margin-top: 15px;
    margin-bottom: 13px;
    width: 100vw;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
}

.img__cabecalho{
    padding: 2%;
    width: 60%;
}
.search__cabecalho{
    display: none;
    position: absolute;
    right: 30%;
    padding: 2%;
    line-height: 1.5;
    font-size: 1.3rem;
    color: #4e4e4e;
    width: 60%;
    border: transparent;
    border-radius: 20px;
    outline: none;    
}

.icon__busca{
    font-size: 1.4rem;
    color: #4e4e4e;
    cursor: pointer;
    transition: .5s;
}

.icon__busca:hover{
    color: #807f7f;
}

.check__search{
    display: none;
}

.check__search:checked + .search__cabecalho{
    display: block;
}

/*-- Produto --*/

.produto{
    display: flex;
    flex-direction: column;
}

.produto__nome{
    font-size: 1.5rem;
    color: #4e4e4e;
    padding: 5% 3%;
}

.produto__preco{
    font-size: 1.1rem;
    font-weight: 600;
    color: #4e4e4e;
    padding: 3%;
}

.produto__descricao {
    padding: 4% 3%;
    margin-bottom: 5%;
    line-height: 1.5;
}

/*-- Similares --*/

.similares__titulo{
    padding: 5% 3%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #4e4e4e;
}

.similares__produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.similares__card{
    padding: 5% 3%;
    line-height: 1.5;
}

.similares__card:nth-child(n+5){
    display: none;
}

.similares__card__titulo{
    color: #4e4e4e;
}

.similares__card__preco{
    color: #4e4e4e;
    font-weight: 600;
}

.similares__card__link{
    color: #528cf1;
    text-decoration: none;
    font-weight: bold;
}

/*-- Contato --*/
.contato{
    width: 100%;
}

.contato__links{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 2% ;
    padding: 4%;
    background-color: #e5ecf9;
}

.div__form{
    width: 90%;
}

.contato__links__itens{
    color: #4e4e4e;
    text-decoration: none;
    line-height: 2;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.contato__form{
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contato__form__title{
    margin: 2%;
    color: #4e4e4e;
    font-size: 1.5rem;
    font-family: 'Signika Negative', sans-serif;
}

.contato__nome{
    width: 90%;
    margin: 2%;
    padding: 2%;
    background-color: #ffffff;
    color: #4e4e4e;
    border-style: none;
    line-height: 3;
    text-align:start;
    font-family: 'Lato', sans-serif;
    border: transparent;
    transition: 0.5s;
    border-radius: 2%;
    outline: none;
}

.contato__nome:focus{
    border-bottom: 1px #4e4e4e solid;
    transition: 0.5s;
}


.contato__mensagem{
    width: 90%;
    margin: 2%;
    padding: 2%;
    background-color: #ffffff;
    border-style: none;
    color: #4e4e4e;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    text-align:start;
    border: transparent;
    border-radius: 2%;
    outline: none;
    resize: none;
}

.contato__mensagem:focus{
    border-bottom: 1px #4e4e4e solid;
    transition: 0.5s;
}

.contato__enviar{
    margin: 2%;
    padding: 2%;
    color: #e6e6e6;
    font-size: 1rem;
    border: transparent;
    background-color: #528cf1;
    line-height: 2;
    width: 65% ;
}

/*-- rodape --*/

.rodape{
    margin: 2%;
    line-height: 3;
}

.rodape__text{
    color: #4e4e4e;
    text-align: center;
}

.rodape__text a{
    color: #c79707;
    text-decoration: none;
}


/*-- Media Tablet --*/

@media screen and (min-width: 768px) and (max-width: 990px){
    
    .cabecalho{
        width: 100vw;
        align-items:center;
        justify-content: space-evenly;
    }
    
    .img__cabecalho{
        position:relative;
        padding: 2%;
        width: 80%;
    }
    
    .search__cabecalho{
        display: inline-block;
        position: relative;
        right: 0;
        padding: 2%;
        line-height: 1;
        font-size: 1rem;
        color: #4e4e4e;
        width: 40%;
        border: transparent;
        border-radius: 20px;
        outline: none;
        
    }
    
    .icon__busca{
        position: relative;
        font-size: 1.4rem;
        color: #4e4e4e;
        cursor: pointer;
        transition: .5s;
    }

    .produto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5%;
        max-block-size: 20%;
    }
    
    .produto__img{
        width: 80%;
    }

    .produto__textos{
        width: 85%;
    }

    .similares__titulo{
        margin-top: 5%;
        padding: 3%;
        font-size: 1.5rem;
        font-weight: 600;
        color: #4e4e4e;
    }

    .similares__card{
        width: 20%;
        padding: 2%;
    }
    
    .contato__links{
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
    }

    .div__form{
        width: 55%;
    }
    
}

/*-- Media Desktop --*/

@media screen and (min-width: 990px) and (max-width: 2000px){
    
    .cabecalho{
        display: flex;
    }

    .img__cabecalho{
        position: relative;
        left: 10px;
        width: 95%;
    }

    .check__search{
        display: none;
    }

    .icon__busca{
        display: inline-block;
        position: relative;
        left: 53%;
        top: 5%;
        font-size: 1.2rem;
        color: #4e4e4e;
        cursor: pointer;
        transition: .5s;
        z-index: 0;
    }
    
    .search__cabecalho{
        display: inline-block;
        position: relative;
        line-height: 1;
        left: 10%;
        font-size: 1rem;
        color: #4e4e4e;
        width: 36%;
        border: transparent;
        border-radius: 25px;
        outline: none;
        
    }

    .produto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5%;
        margin-top: 5%;
        max-block-size: 20%;
    }
    
    .produto__img{
        width: 40%;
    }

    .produto__textos{
        width: 65%;
    }

    .similares__produtos{
        padding: 0 5% 5% 5%;
    }

    .similares__titulo{
        padding: 5% 5% 0 5%;
        font-size: 1.5rem;
        font-weight: 600;
        color: #4e4e4e;
    }

    .similares__card{
        width: 20%;
        padding: 2%;
    }

    .similares__card:nth-child(n+5){
        display: block;
    }

    .contato__links{
        margin: 5%;
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
    }

    .div__form{
        width: 55%;
    }

    .rodape__text{
        font-family: 'Lato', sans-serif;
    }
}